In [3]:
sc

In [4]:
from pyspark.sql import Row
from datetime import datetime

In [19]:
imaya_row = Row(id=1, name='Imaya', age=50, degrees=['BE', 'MBA'])
chitra_row = Row(id=1, name='Chitra', age=46, degrees=['BA', 'MA']) 
simple_data = sc.parallelize([imaya_row, chitra_row])
simple_data

ParallelCollectionRDD[50] at parallelize at PythonRDD.scala:195

In [20]:
records = simple_data.toDF()
records.first()

Row(age=50, degrees=['BE', 'MBA'], id=1, name='Imaya')

In [21]:
records.show()

+---+---------+---+------+
|age|  degrees| id|  name|
+---+---------+---+------+
| 50|[BE, MBA]|  1| Imaya|
| 46| [BA, MA]|  1|Chitra|
+---+---------+---+------+

In [22]:
sqlContext = SQLContext(sc)

In [23]:
df = sqlContext.range(5)
df

DataFrame[id: bigint]

In [24]:
df.collect()

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

In [26]:
df2 = sqlContext.createDataFrame([imaya_row, chitra_row])

In [27]:
df2.take(1)

[Row(age=50, degrees=['BE', 'MBA'], id=1, name='Imaya')]